In [395]:
import pandas as pd
import numpy as np
import math as math
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.feature_selection import VarianceThreshold
from sklearn.linear_model import LinearRegression
from sklearn.feature_extraction.text import CountVectorizer

# Importing datasets

Firtsly, hiperparameter gamma has to be analyzed. With some values gamma will have more or less influence on football players, but with some values modificated DEA model will not have any influence with team component and it will be the same as basic DEA model.

In [396]:
# Basic DEA model has 94 efficient players

dic_eff_basic = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA\Rezultati - tabele\Rezultati basic DEA/dic_efficiency_basic.csv')
dic_eff_basic = dic_eff_basic.rename(columns={"Unnamed: 0": "player_name"}).set_index('player_name')
dic_eff_basic[dic_eff_basic['Efficiency'] == 1].shape

(94, 3)

In [397]:
# This dataset has the same number of efficient players, thus mofificated DEA hasn't got any influense yet

dic_eff_02 = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA\Rezultati - tabele\Rezultati modificated - team DEA\gama = 0.2/dic_efficiency_0.2.csv')
dic_eff_02 = dic_eff_02.rename(columns={'Unnamed: 0' : 'player_name'}).set_index('player_name')
dic_eff_02[dic_eff_02['Efficiency'] == 1].shape

(94, 3)

In [398]:
# With gamma value of 0.3, modificated DEA model has influence of the team on players!

dic_eff_03 = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA\Rezultati - tabele\Rezultati modificated - team DEA\gama = 0.3/dic_efficiency_0.3.csv')
dic_eff_03 = dic_eff_03.rename(columns={'Unnamed: 0' : 'player_name'}).set_index('player_name')
dic_eff_03[dic_eff_03['Efficiency'] == 1].shape

(93, 3)

In [399]:
dic_eff_04 = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA\Rezultati - tabele\Rezultati modificated - team DEA\gama = 0.4/dic_efficiency_0.4.csv')
dic_eff_04 = dic_eff_04.rename(columns={'Unnamed: 0' : 'player_name'}).set_index('player_name')
dic_eff_04[dic_eff_04['Efficiency'] == 1].shape

(83, 3)

In [400]:
dic_eff_05 = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA\Rezultati - tabele\Rezultati modificated - team DEA\gama = 0.5/dic_efficiency_0.5.csv')
dic_eff_05 = dic_eff_05.rename(columns={'Unnamed: 0' : 'player_name'}).set_index('player_name')
dic_eff_05[dic_eff_05['Efficiency'] == 1].shape

(74, 3)

In [401]:
dic_eff_06 = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA\Rezultati - tabele\Rezultati modificated - team DEA\gama = 0.6/dic_efficiency_0.6.csv')
dic_eff_06 = dic_eff_06.rename(columns={'Unnamed: 0' : 'player_name'}).set_index('player_name')
dic_eff_06[dic_eff_06['Efficiency'] == 1].shape

(57, 3)

In [402]:
dic_eff_07 = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA\Rezultati - tabele\Rezultati modificated - team DEA\gama = 0.7/dic_efficiency_0.7.csv')
dic_eff_07 = dic_eff_07.rename(columns={'Unnamed: 0' : 'player_name'}).set_index('player_name')
dic_eff_07[dic_eff_07['Efficiency'] == 1].shape

(20, 3)

In [403]:
# With gamma value of 0.8 modificated DEA model vane't got any efficient player in dataset!

dic_eff_08 = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA\Rezultati - tabele\Rezultati modificated - team DEA\gama = 0.8/dic_efficiency_0.8.csv')
dic_eff_08 = dic_eff_08.rename(columns={'Unnamed: 0' : 'player_name'}).set_index('player_name')
dic_eff_08[dic_eff_08['Efficiency'] == 1].shape

(0, 3)

In [404]:
dic_eff_09 = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA\Rezultati - tabele\Rezultati modificated - team DEA\gama = 0.9/dic_efficiency_0.9.csv')
dic_eff_09 = dic_eff_09.rename(columns={'Unnamed: 0' : 'player_name'}).set_index('player_name')
dic_eff_09[dic_eff_09['Efficiency'] == 1].shape

(0, 3)

In [405]:
dic_eff_1 = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA\Rezultati - tabele\Rezultati modificated - team DEA\gama = 1/dic_efficiency_1.csv')
dic_eff_1 = dic_eff_1.rename(columns={'Unnamed: 0' : 'player_name'}).set_index('player_name')
dic_eff_1[dic_eff_1['Efficiency'] == 1].shape

(0, 3)

Values of gamma hiperparemeter which will be analyzed are: 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, and 1. Beacuse in this cases, changes in dataset are significant and interesting for research.

gamma ->  number_of_efficient_players
- 0.2 ->  94
- 0.3 ->  93
- 0.4 ->  83
- 0.5 ->  74
- 0.6 ->  57
- 0.7 ->  20
- 0.8 ->  0
- 0.9 ->  0
-   1 ->  0

# Dataset with efficiency indeces for every gamma value

The player will have the value of the efficiency coefficient in the new dataset for gamma in the range of 0.3 to 1.

In [406]:
final_stats = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA/final_stats.csv')
final_stats = final_stats.set_index('player_name')

In [407]:
dic_eff_03 = pd.merge(dic_eff_03, final_stats[['club', 'position']], on="player_name", how="inner")
dic_eff_04 = pd.merge(dic_eff_04, final_stats[['club', 'position']], on="player_name", how="inner")
dic_eff_05 = pd.merge(dic_eff_05, final_stats[['club', 'position']], on="player_name", how="inner")
dic_eff_06 = pd.merge(dic_eff_06, final_stats[['club', 'position']], on="player_name", how="inner")
dic_eff_07 = pd.merge(dic_eff_07, final_stats[['club', 'position']], on="player_name", how="inner")
dic_eff_08 = pd.merge(dic_eff_08, final_stats[['club', 'position']], on="player_name", how="inner")
dic_eff_09 = pd.merge(dic_eff_09, final_stats[['club', 'position']], on="player_name", how="inner")
dic_eff_01 = pd.merge(dic_eff_1, final_stats[['club', 'position']], on="player_name", how="inner")

In [408]:
dic_eff_all = pd.DataFrame(dic_eff_basic['Efficiency']).rename(columns={'Efficiency':'Eff. basic'})

In [409]:
dic_eff_all = pd.merge(dic_eff_all, dic_eff_03['Efficiency'], on="player_name", how="inner").rename(columns={'Efficiency':'Eff. gamma=0.3'})
dic_eff_all = pd.merge(dic_eff_all, dic_eff_04['Efficiency'], on="player_name", how="inner").rename(columns={'Efficiency':'Eff. gamma=0.4'})
dic_eff_all = pd.merge(dic_eff_all, dic_eff_05['Efficiency'], on="player_name", how="inner").rename(columns={'Efficiency':'Eff. gamma=0.5'})
dic_eff_all = pd.merge(dic_eff_all, dic_eff_06['Efficiency'], on="player_name", how="inner").rename(columns={'Efficiency':'Eff. gamma=0.6'})
dic_eff_all = pd.merge(dic_eff_all, dic_eff_07['Efficiency'], on="player_name", how="inner").rename(columns={'Efficiency':'Eff. gamma=0.7'})
dic_eff_all = pd.merge(dic_eff_all, dic_eff_08['Efficiency'], on="player_name", how="inner").rename(columns={'Efficiency':'Eff. gamma=0.8'})
dic_eff_all = pd.merge(dic_eff_all, dic_eff_09['Efficiency'], on="player_name", how="inner").rename(columns={'Efficiency':'Eff. gamma=0.9'})
dic_eff_all = pd.merge(dic_eff_all, dic_eff_1['Efficiency'], on="player_name", how="inner").rename(columns={'Efficiency':'Eff. gamma=1'})

In [410]:
dic_eff_all = pd.merge(dic_eff_all, final_stats[['club', 'position']], on="player_name", how="inner")
dic_eff_all = round(dic_eff_all, 3)

In [411]:
dic_eff_all

,Eff. basic,Eff. gamma=0.3,Eff. gamma=0.4,Eff. gamma=0.5,Eff. gamma=0.6,Eff. gamma=0.7,Eff. gamma=0.8,Eff. gamma=0.9,Eff. gamma=1,club,position
player_name,,,,,,,,,,,
Lisandro Martínez,0.758,0.758,0.758,0.758,0.758,0.758,0.749,0.608,0.493,Ajax,Defender
Mazraoui,0.714,0.714,0.714,0.714,0.714,0.709,0.564,0.498,0.493,Ajax,Defender
Blind,0.649,0.649,0.649,0.649,0.649,0.644,0.493,0.493,0.493,Ajax,Defender
Haller,1.000,1.000,1.000,1.000,1.000,1.000,0.770,0.608,0.493,Ajax,Forward
Tadić,0.923,0.923,0.923,0.923,0.923,0.923,0.565,0.496,0.493,Ajax,Forward
...,...,...,...,...,...,...,...,...,...,...,...
Kuzyaev,1.000,1.000,1.000,1.000,1.000,0.775,0.593,0.469,0.380,Zenit,Midfielder
Barrios,0.683,0.683,0.683,0.683,0.683,0.667,0.593,0.469,0.380,Zenit,Midfielder
Claudinho,0.620,0.620,0.620,0.620,0.589,0.512,0.380,0.469,0.380,Zenit,Midfielder
Sutormin,0.512,0.512,0.512,0.512,0.500,0.500,0.469,0.380,0.380,Zenit,Midfielder
Wendel,0.504,0.504,0.504,0.504,0.504,0.380,0.380,0.380,0.380,Zenit,Midfielder

In [412]:
# The only player whose coefficient of efficiency has changed! - Pique

dic_eff_all.loc[(dic_eff_all['Eff. basic'] == 1) & (dic_eff_all['Eff. gamma=0.3'] < 1)]

,Eff. basic,Eff. gamma=0.3,Eff. gamma=0.4,Eff. gamma=0.5,Eff. gamma=0.6,Eff. gamma=0.7,Eff. gamma=0.8,Eff. gamma=0.9,Eff. gamma=1,club,position
player_name,,,,,,,,,,,
Piqué,1.0,0.944,0.096,0.384,0.141,0.099,0.15,0.118,0.096,Barcelona,Defender

In [413]:
# Three players who were analyzed in basic DEA model, will be analyzed with different gammas
# At some point they will be inefficient, that is interesting for researh why that happend

players_for_eff = dic_eff_all[(dic_eff_all.index == 'Lewandowski') | (dic_eff_all.index == 'Werner') | (dic_eff_all.index == 'Modrić') ]
players_for_eff

,Eff. basic,Eff. gamma=0.3,Eff. gamma=0.4,Eff. gamma=0.5,Eff. gamma=0.6,Eff. gamma=0.7,Eff. gamma=0.8,Eff. gamma=0.9,Eff. gamma=1,club,position
player_name,,,,,,,,,,,
Lewandowski,1.000,1.000,1.000,1.000,1.000,1.000,0.880,0.695,0.563,Bayern,Forward
Werner,1.000,1.000,1.000,1.000,1.000,0.793,0.607,0.480,0.389,Chelsea,Forward
Modrić,0.594,0.594,0.594,0.594,0.594,0.594,0.589,0.531,0.430,Real Madrid,Midfielder

# Gamma = 0.7 datasets

Here, it will be examined all datasets for gamma = 0.7. The contraints are very restrictive, thus there are not many efficient players and every of them generates excellent output based on input even with these contraints.

In [414]:
dic_eff_07.head()

                      Index  Efficiency     Slack  club  position
player_name
Lisandro Martínez  1.318593    0.758384  0.318593  Ajax  Defender
Mazraoui           1.409949    0.709246  0.409949  Ajax  Defender
Blind              1.553502    0.643707  0.553502  Ajax  Defender
Haller             1.000000    1.000000  0.000000  Ajax   Forward
Tadić              1.083333    0.923077  0.083333  Ajax   Forward

# Efficiency/ Inefficiency of players

In [415]:
eff_07 = dic_eff_07[dic_eff_07['Efficiency'] == 1]
eff_07.head()

             Index  Efficiency  Slack      club    position
player_name
Haller         1.0         1.0    0.0      Ajax     Forward
Klaassen       1.0         1.0    0.0      Ajax  Midfielder
Lewandowski    1.0         1.0    0.0    Bayern     Forward
Tolisso        1.0         1.0    0.0    Bayern  Midfielder
Meunier        1.0         1.0    0.0  Dortmund    Defender

In [416]:
ineff_07 = dic_eff_07[dic_eff_07['Efficiency'] != 1]
ineff_07.head()

                      Index  Efficiency     Slack  club  position
player_name
Lisandro Martínez  1.318593    0.758384  0.318593  Ajax  Defender
Mazraoui           1.409949    0.709246  0.409949  Ajax  Defender
Blind              1.553502    0.643707  0.553502  Ajax  Defender
Tadić              1.083333    0.923077  0.083333  Ajax   Forward
Berghuis           1.753273    0.570362  0.753273  Ajax   Forward

In [417]:
# These are the most inefficient players

ineff_07[ineff_07['Efficiency'] == ineff_07['Efficiency'].min()]

                 Index  Efficiency     Slack       club    position
player_name
Depay        10.423446    0.095938  9.423446  Barcelona     Forward
Gavi         10.423446    0.095938  9.423446  Barcelona  Midfielder
F. de Jong   10.423446    0.095938  9.423446  Barcelona  Midfielder

In [418]:
# These are inefficient players with index less than 25
# In basic DEA it was 4 of them, in modificated DEA model there are 27 of them

ineff_07[ineff_07['Efficiency'] < 0.25].shape

(27, 5)

# Efficiency / Inefficiency of clubs

In [419]:
# Clubs with number of efficient players
# Only 6 of them

pd.DataFrame(eff_07.groupby('club').count())[['Efficiency']]

           Efficiency
club
Ajax                2
Bayern              2
Dortmund            5
Juventus            3
Salzburg            5
Wolfsburg           3

In [420]:
# Clubs with number of inefficient players
# Liverpool has the most inefficient players

pd.DataFrame(ineff_07.groupby('club').count())[['Efficiency']].rename(columns={'Efficiency':'Inefficiency'})

                  Inefficiency
club
Ajax                        10
Atalanta                    14
Atlético                    18
Barcelona                   12
Bayern                      13
Benfica                     14
Beşiktaş                    13
Chelsea                     17
Club Brugge                 10
Dortmund                     5
Dynamo Kyiv                 10
Inter                       12
Juventus                    12
LOSC                        15
Leipzig                     13
Liverpool                   19
Malmö                       13
Man. City                   17
Man. United                 16
Milan                       14
Paris                       14
Porto                       12
Real Madrid                 15
Salzburg                     9
Sevilla                     13
Shakhtar Donetsk            13
Sheriff                     11
Sporting CP                 15
Villarreal                  17
Wolfsburg                   10
Young Boys                  12
Zenit                       13

In [422]:
# Dortmund is the best looking in percentage of efficient player, with 50% of them

perc_ineff_07 = ineff_07.groupby('club').count()[['Efficiency']] / dic_eff_07.groupby('club').count()[['Efficiency']]
perc_ineff_07.rename(columns={'Efficiency' : 'Inefficiency Perc.'}, inplace=True)
perc_ineff_07.sort_values(by='Inefficiency Perc.')

                  Inefficiency Perc.
club
Dortmund                    0.500000
Salzburg                    0.642857
Wolfsburg                   0.769231
Juventus                    0.800000
Ajax                        0.833333
Bayern                      0.866667
Sheriff                     1.000000
Shakhtar Donetsk            1.000000
Sevilla                     1.000000
Man. United                 1.000000
Sporting CP                 1.000000
Real Madrid                 1.000000
Porto                       1.000000
Villarreal                  1.000000
Paris                       1.000000
Milan                       1.000000
Man. City                   1.000000
Liverpool                   1.000000
Young Boys                  1.000000
Leipzig                     1.000000
LOSC                        1.000000
Inter                       1.000000
Dynamo Kyiv                 1.000000
Club Brugge                 1.000000
Chelsea                     1.000000
Beşiktaş                    1.000000
Benfica                     1.000000
Barcelona                   1.000000
Atlético                    1.000000
Atalanta                    1.000000
Malmö                       1.000000
Zenit                       1.000000

# Role models dataset

In [423]:
# Role models dataset

dic_role_models_07 = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA\Rezultati - tabele\Rezultati modificated - team DEA\gama = 0.7/dic_role_models_0.7.csv')
dic_role_models_07.rename(columns={'Unnamed: 0' : 'player_name'}, inplace=True)
dic_role_models_07.set_index('player_name', inplace=True)
dic_role_models_07.head()

                                                      Role_model
player_name
Lisandro Martínez     Djimsiti, Pjanic, Dahoud, Koundé, Fernando
Mazraoui                Dahoud, Gvardiol, Bruno Fernandes, Uribe
Blind                  Djimsiti, Werner, Dahoud, Uribe, Fernando
Haller                                                         /
Tadić              Pjanic, Werner, Dahoud, Kolovos, Bruno Tabata

In [424]:
corpus = dic_role_models_07['Role_model']
vect = CountVectorizer(ngram_range=(1,1))
vect.fit_transform(corpus)

<441x114 sparse matrix of type '<class 'numpy.int64'>'
	with 1744 stored elements in Compressed Sparse Row format>

In [425]:
# There are 114 players who are role models to someone

len(set(vect.get_feature_names()))

114

In [426]:
role_models_07_max = pd.DataFrame(vect.fit_transform(corpus).todense(), columns=vect.get_feature_names())

In [427]:
sum(role_models_07_max.sum(axis=0) > 75)

4

In [428]:
role_models_07_max = pd.DataFrame(role_models_07_max.sum(axis=0),columns={"number"})

In [430]:
# These players were role models in the basic DEA model, as well

role_models_07_max_eff = role_models_07_max_eff[role_models_07_max_eff['number'] > 75]
role_models_07_max_eff.index.name = "player_name"
role_models_07_max_eff.index = role_models_07_max_eff.index.str.capitalize()
role_models_07_max_eff

             number
player_name
Dahoud           93
Djimsiti         92
Fernando        147
Uribe           130

In [431]:
# Only player Dahoud is efficient and in the same time is role models for these four players

dic_eff_07.loc['Dahoud']['Efficiency']

1.0

We have to see who are dominating decision making units -> they are inefficient, but still role model to someone

In [434]:
role_models_07_max.index.rename('player_name', inplace=True)
role_models_07_max.index = role_models_07_max.index.str.capitalize()

In [435]:
# Djimsiti, Fernando, and Uribe are dominating decision making units with most time being role model

role_models_07_max_ineff = pd.merge(role_models_07_max, dic_eff_07['Efficiency'], on='player_name', how='inner')
role_models_07_max_ineff = role_models_07_max_ineff[(role_models_07_max_ineff['Efficiency'] != 1) & (role_models_07_max_ineff['number'] > 50)]
role_models_07_max_ineff

             number  Efficiency
player_name
Djimsiti         92    0.532590
Fernando        147    0.192496
Firmino          66    0.777971
Uribe           130    0.460102
Werner           72    0.793236

# Normalized players' weights/coefficients of virtual variables

In [436]:
dic_weights_07 = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA\Rezultati - tabele\Rezultati modificated - team DEA\gama = 0.7/weights_norm_0.7.csv')
dic_weights_07.rename(columns={'Unnamed: 0' : 'player_name'}, inplace=True)
dic_weights_07 = dic_weights_07.set_index('player_name')
dic_weights_07.head()

,minutes_played,shots_on_target,dribbles,pass_completed,tackles_won,clearance_attempted,goals,assists,balls_recoverd
player_name,,,,,,,,,
Lisandro Martínez,1.099757e+00,4.680907e-02,3.614458e-10,8.328947e-09,4.418171e-02,1.278456e-01,0.000000,7.792378e-02,9.220762e-01
Mazraoui,1.033073e+00,1.304348e-09,1.566265e-09,2.916745e-01,1.433182e-02,7.086896e-02,0.000000,2.169627e-01,7.830373e-01
Blind,1.308921e+00,8.695652e-10,9.638554e-10,4.842105e-09,7.588653e-02,1.686944e-01,0.039762,9.361070e-02,8.666270e-01
Haller,1.232508e-01,6.657420e-01,5.642871e-02,1.545785e-01,1.111111e-09,8.064516e-10,1.000000,1.428571e-09,1.315789e-09
Tadić,5.254379e-09,1.000000e+00,1.566265e-09,3.039474e-09,0.000000e+00,8.333333e-02,0.666667,3.333333e-01,5.095483e-09

In [437]:
#  It will be examined players such as Modric, Werner, and Lewandowski, who are analyzed in the basic DEA model

players_coeff = dic_weights_07[(dic_weights_07.index == 'Modrić') | (dic_weights_07.index == 'Werner') | (dic_weights_07.index == 'Lewandowski')]
players_coeff = round(pd.merge(players_coeff, dic_eff_07[['Efficiency', 'club', 'position']],on='player_name',how='inner'), 3)
players_coeff

,minutes_played,shots_on_target,dribbles,pass_completed,tackles_won,clearance_attempted,goals,assists,balls_recoverd,Efficiency,club,position
player_name,,,,,,,,,,,,
Lewandowski,0.997,0.000,0.003,0.000,0.000,0.000,1.0,0.000,0.000,1.000,Bayern,Forward
Werner,0.000,0.000,0.162,1.098,0.000,0.000,0.0,0.000,1.000,0.793,Chelsea,Forward
Modrić,0.950,0.051,0.532,0.000,0.071,0.079,0.0,0.527,0.473,0.594,Real Madrid,Midfielder

# Analysis of third and fourth constraints

## Third constraint

Active players in third constraint are players who are limited to have better efficient index, because of very poor efficiency of their's teammates. This means that they would be more efficient if there weren't new third restrictions, but with this condiotion they have problem to allocate resources in efficient way.

In [438]:
# Third constraint

third_con_07 = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA\Rezultati - tabele\Rezultati modificated - team DEA\gama = 0.7/third_constraints_0.7.csv')
third_con_07.rename(columns={'Unnamed: 0' : 'player_name'}, inplace=True)
third_con_07.set_index('player_name', inplace=True)
third_con_07 = round(pd.merge(third_con_07, dic_eff_07[['Efficiency','club', 'position']], on='player_name', how='inner'), 3)
third_con_07

                   Slack  Efficiency   club    position
player_name
Lisandro Martínez  0.324       0.758   Ajax    Defender
Mazraoui           0.415       0.709   Ajax    Defender
Blind              0.559       0.644   Ajax    Defender
Haller             0.005       1.000   Ajax     Forward
Tadić              0.089       0.923   Ajax     Forward
...                  ...         ...    ...         ...
Kuzyaev            0.000       0.775  Zenit  Midfielder
Barrios            0.208       0.667  Zenit  Midfielder
Claudinho          0.663       0.512  Zenit  Midfielder
Sutormin           0.710       0.500  Zenit  Midfielder
Wendel             1.343       0.380  Zenit  Midfielder

[441 rows x 4 columns]

In [439]:
# We seek players which slack value is very close to 0
# All of these players are active constraints

act_third_con_07 = third_con_07[(third_con_07['Slack'] < 0.002)]
act_third_con_07

             Slack  Efficiency        club    position
player_name
Tolói          0.0       0.533    Atalanta    Defender
Demiral        0.0       0.533    Atalanta    Defender
Djimsiti       0.0       0.533    Atalanta    Defender
Zapata         0.0       0.533    Atalanta     Forward
De Roon        0.0       0.533    Atalanta  Midfielder
...            ...         ...         ...         ...
Capoue         0.0       0.763  Villarreal  Midfielder
Chukwueze      0.0       0.763  Villarreal  Midfielder
Azmoun         0.0       0.775       Zenit     Forward
Dzyuba         0.0       0.775       Zenit     Forward
Kuzyaev        0.0       0.775       Zenit  Midfielder

[121 rows x 4 columns]

In [440]:
# These players are in active constraints, but still efficient 
# These are importanat to analyse
# This is only for Juventus from the efficient teams
# Haller, and Klaassen, from Ajax, are also close to be active third contraints -> put value of 0.01
    
act_third_con_eff_07 = third_con_07[(third_con_07['Slack'] < 0.002) & (third_con_07['Efficiency'] == 1)]
act_third_con_eff_07

                      Slack  Efficiency      club  position
player_name
Alex Sandro           0.001         1.0  Juventus  Defender
De Sciglio            0.001         1.0  Juventus  Defender
Danilo Luiz da Silva  0.001         1.0  Juventus  Defender

In [441]:
act_third_con_eff2_07 = third_con_07[(third_con_07['Slack'] < 0.01) & (third_con_07['Efficiency'] == 1)]
act_third_con_eff2_07

                      Slack  Efficiency      club    position
player_name
Haller                0.005         1.0      Ajax     Forward
Klaassen              0.005         1.0      Ajax  Midfielder
Alex Sandro           0.001         1.0  Juventus    Defender
De Sciglio            0.001         1.0  Juventus    Defender
Danilo Luiz da Silva  0.001         1.0  Juventus    Defender

In [442]:
act_third_con_07_clubs = act_third_con_07.groupby('club').count()[['Slack']]
act_third_con_07_clubs

                  Slack
club
Atalanta              8
Atlético              7
Barcelona             7
Benfica               5
Beşiktaş              7
Chelsea               4
Club Brugge           2
Inter                 4
Juventus              3
LOSC                  4
Leipzig               6
Liverpool             4
Malmö                 5
Man. City             3
Man. United           8
Milan                 4
Paris                 3
Porto                 7
Real Madrid           3
Sevilla               7
Shakhtar Donetsk      5
Sheriff               3
Sporting CP           4
Villarreal            5
Zenit                 3

In [443]:
# It can be seen that Ajax, Bayern, Dortmund, Dynamo Kyev, Salzburg, Wolfsburg, and Young Boys don't have active
# third constraints

pd.merge(act_third_con_07_clubs, third_con_07.groupby('club').count()[['Slack']], on='club', how='outer').rename(columns={'Slack_x':'Active const.','Slack_y':'Number of players'})

                  Active const.  Number of players
club
Atalanta                    8.0                 14
Atlético                    7.0                 18
Barcelona                   7.0                 12
Benfica                     5.0                 14
Beşiktaş                    7.0                 13
Chelsea                     4.0                 17
Club Brugge                 2.0                 10
Inter                       4.0                 12
Juventus                    3.0                 15
LOSC                        4.0                 15
Leipzig                     6.0                 13
Liverpool                   4.0                 19
Malmö                       5.0                 13
Man. City                   3.0                 17
Man. United                 8.0                 16
Milan                       4.0                 14
Paris                       3.0                 14
Porto                       7.0                 12
Real Madrid                 3.0                 15
Sevilla                     7.0                 13
Shakhtar Donetsk            5.0                 13
Sheriff                     3.0                 11
Sporting CP                 4.0                 15
Villarreal                  5.0                 17
Zenit                       3.0                 13
Ajax                        NaN                 12
Bayern                      NaN                 15
Dortmund                    NaN                 10
Dynamo Kyiv                 NaN                 10
Salzburg                    NaN                 14
Wolfsburg                   NaN                 13
Young Boys                  NaN                 12

We want to see if Real Madrid players were efficient in modified DEA model with gamma value of 0.6.
They are, actually. Thus, it means that they are good represent of how players can be limited because of some of the
teammates. Also, they all have slack value of 0 for third constraints with gamma value of 0.7.

In [471]:
eff_06_ineff_07 = pd.merge(dic_eff_06, dic_eff_07, on='player_name', how='inner')
real_act_cons = eff_06_ineff_07[(eff_06_ineff_07['Efficiency_x'] == 1) & (eff_06_ineff_07['Efficiency_y'] != 1) & (eff_06_ineff_07['club_x'] == 'Real Madrid')][['Efficiency_x', 'Efficiency_y', 'club_y','position_y' ]]
real_act_cons.rename(columns={'Efficiency_x' : 'Eff. gamma=0.6', 'Efficiency_y' : 'Eff. gamma=0.7','club_y':'club', 'position_y': 'position'},inplace=True)
real_act_cons

               Eff. gamma=0.6  Eff. gamma=0.7         club    position
player_name
Alaba                     1.0        0.878088  Real Madrid    Defender
Asensio                   1.0        0.878088  Real Madrid     Forward
Lucas Vázquez             1.0        0.878088  Real Madrid  Midfielder

Also it has to be checked if were they active sonstraints in modified DEA model with gamma value of 0.6

In [472]:
# They weren't in active third constraints

third_con_06 = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA\Rezultati - tabele\Rezultati modificated - team DEA\gama = 0.6/third_constraints_0.6.csv')
third_con_06.rename(columns={'Unnamed: 0' : 'player_name'}, inplace=True)
third_con_06.set_index('player_name', inplace=True)
third_con_06 = round(pd.merge(third_con_06, dic_eff_06[['Efficiency','club', 'position']], on='player_name', how='inner'), 3)
third_con_06[(third_con_06['club'] == 'Real Madrid') & (third_con_06['Slack'] == 0)]

Empty DataFrame
Columns: [Slack, Efficiency, club, position]
Index: []

In [473]:
real_act_cons = pd.merge(real_act_cons, third_con_06[['Efficiency', 'Slack']], on='player_name', how='inner')
real_act_cons = pd.merge(real_act_cons, third_con_07[['Efficiency', 'Slack']], on='player_name', how='inner')
real_act_cons = real_act_cons.iloc[:, [0,1,2,3,5,7]]
real_act_cons.rename(columns={'Slack_x' : 'Slack third cons. gamma=0.6', 'Slack_y' : 'Slack third cons. gamma=0.7'}, inplace=True)
real_act_cons = real_act_cons[['Eff. gamma=0.6', 'Eff. gamma=0.7', 'Slack third cons. gamma=0.6', 'Slack third cons. gamma=0.7', 'club', 'position']]
real_act_cons = round(real_act_cons, 3)

These players from Real Madrid were limited to be more efficient because of some player in their teams, who was very inefficient. That player is active fourth constraint, and it will be seen later who i sthat.

In [474]:
real_act_cons

,Eff. gamma=0.6,Eff. gamma=0.7,Slack third cons. gamma=0.6,Slack third cons. gamma=0.7,club,position
player_name,,,,,,
Alaba,1.0,0.878,0.086,0.0,Real Madrid,Defender
Asensio,1.0,0.878,0.086,0.0,Real Madrid,Forward
Lucas Vázquez,1.0,0.878,0.086,0.0,Real Madrid,Midfielder

## Fourth constraint

Active players in fourth constraint, are players who are limiting their teammates, because they have very weak performance and low efficiency index.

In [475]:
fourth_con_07 = pd.read_csv('D:\Luka Sve\Strucni radovi\DEA\Rezultati - tabele\Rezultati modificated - team DEA\gama = 0.7/fourth_constraints_0.7.csv')
fourth_con_07.rename(columns={'Unnamed: 0' : 'player_name'}, inplace=True)
fourth_con_07.set_index('player_name', inplace=True)
fourth_con_07 = round(pd.merge(fourth_con_07, dic_eff_07[['Efficiency','club', 'position']], on='player_name', how='inner'), 3)
fourth_con_07

                   Slack  Efficiency   club    position
player_name
Lisandro Martínez  0.712       0.758   Ajax    Defender
Mazraoui           0.620       0.709   Ajax    Defender
Blind              0.477       0.644   Ajax    Defender
Haller             1.030       1.000   Ajax     Forward
Tadić              0.947       0.923   Ajax     Forward
...                  ...         ...    ...         ...
Kuzyaev            1.343       0.775  Zenit  Midfielder
Barrios            1.135       0.667  Zenit  Midfielder
Claudinho          0.681       0.512  Zenit  Midfielder
Sutormin           0.633       0.500  Zenit  Midfielder
Wendel             0.000       0.380  Zenit  Midfielder

[441 rows x 4 columns]

In [476]:
# All of these players are quite important for analyse, because they are active contraints and they
# limit teammates to be more efficient

act_fourth_con_07 = fourth_con_07[(fourth_con_07['Slack'] < 0.002)]
act_fourth_con_07

                    Slack  Efficiency        club    position
player_name
Gravenberch           0.0       0.493        Ajax  Midfielder
Mæhle                 0.0       0.261    Atalanta    Defender
Palomino              0.0       0.261    Atalanta    Defender
Zappacosta            0.0       0.261    Atalanta    Defender
Malinovskyi           0.0       0.261    Atalanta  Midfielder
...                   ...         ...         ...         ...
Garcia                0.0       0.476  Young Boys    Defender
Mohamed Ali Camara    0.0       0.476  Young Boys    Defender
Chistiakov            0.0       0.380       Zenit    Defender
Malcom                0.0       0.380       Zenit     Forward
Wendel                0.0       0.380       Zenit  Midfielder

[88 rows x 4 columns]

This is also interesting. Juventus doesn't have active constraint i their squad, but players such as Alex Sandro, De Sciglio, and Danilo are active in third constraint, that suggest that these players might be falsely efficient?

In [490]:
act_fourth_con_07[act_fourth_con_07['club'] == 'Juventus']

Empty DataFrame
Columns: [Slack, Efficiency, club, position]
Index: []

In the next line it can be seen that player Valverde from Real Madrid was the one who was limiting his teammates to be more efficient.

In [477]:
act_fourth_con_07[act_fourth_con_07['club'] == 'Real Madrid']

             Slack  Efficiency         club    position
player_name
Valverde       0.0        0.43  Real Madrid  Midfielder

In [480]:
# Valverde is player who limit hos teammates to be more efficient and we can see his virtual coefficient of variables

dic_dummy = round(pd.merge(dic_weights_07, dic_eff_07[['Efficiency', 'club', 'position']],on='player_name',how='inner'), 3)
dic_dummy[dic_dummy.index == 'Valverde']

,minutes_played,shots_on_target,dribbles,pass_completed,tackles_won,clearance_attempted,goals,assists,balls_recoverd,Efficiency,club,position
player_name,,,,,,,,,,,,
Valverde,0.642,0.0,0.0,0.953,0.408,0.321,0.0,0.204,0.796,0.43,Real Madrid,Midfielder

There is interesting situation in Ajax. There is one active constrainat, that is player Gravenberch, but he didn't limit totally their teammates, because two of them succeed to be efficient.That are Haller and Klaassen.

In [482]:
# Active player in fourth constraint, but he didn't limit at all his teammates, because two of them succeed to
# be efficient

act_fourth_con_07[act_fourth_con_07['club'] == 'Ajax']

             Slack  Efficiency  club    position
player_name
Gravenberch    0.0       0.493  Ajax  Midfielder

In [483]:
dic_dummy[dic_dummy.index == 'Gravenberch']

,minutes_played,shots_on_target,dribbles,pass_completed,tackles_won,clearance_attempted,goals,assists,balls_recoverd,Efficiency,club,position
player_name,,,,,,,,,,,,
Gravenberch,1.515,0.0,0.0,0.309,0.074,0.132,0.0,0.12,0.88,0.493,Ajax,Midfielder

In [485]:
# They stayed efficient, despite that they have teammate who is very inefficient and who is active in fourth
# constraint

dic_dummy[(dic_dummy['club'] == 'Ajax') & (dic_dummy['Efficiency'] == 1)]

,minutes_played,shots_on_target,dribbles,pass_completed,tackles_won,clearance_attempted,goals,assists,balls_recoverd,Efficiency,club,position
player_name,,,,,,,,,,,,
Haller,0.123,0.666,0.056,0.155,0.000,0.000,1.0,0.0,0.0,1.0,Ajax,Forward
Klaassen,0.000,0.091,0.000,0.000,0.545,0.364,0.0,1.0,0.0,1.0,Ajax,Midfielder

It is the same situation with Wolfsburg team.

In [486]:
# The same check with Wolfsburg team and its active fourth constraints

act_fourth_con_07[act_fourth_con_07['club'] == 'Wolfsburg']

             Slack  Efficiency       club  position
player_name
Mbabu          0.0       0.504  Wolfsburg  Defender
Weghorst       0.0       0.504  Wolfsburg   Forward

In [487]:
dic_dummy[(dic_dummy['club'] == 'Wolfsburg') & (dic_dummy['Efficiency'] == 1)]

,minutes_played,shots_on_target,dribbles,pass_completed,tackles_won,clearance_attempted,goals,assists,balls_recoverd,Efficiency,club,position
player_name,,,,,,,,,,,,
Steffen,0.000,1.000,0.00,0.000,0.000,0.000,1.0,0.000,0.000,1.0,Wolfsburg,Midfielder
Vranckx,0.246,0.134,0.00,0.342,0.000,0.279,0.0,0.000,1.000,1.0,Wolfsburg,Midfielder
Arnold,0.820,0.005,0.06,0.000,0.035,0.079,0.0,0.474,0.526,1.0,Wolfsburg,Midfielder

In [488]:
# Teams with efficient players shoudn't have players who are active in fourth constraint
# But Ajax and Wolsburg have active contraints, but still have efficient players
# PSG hasn't got an active fourth contraint. That's, because PSG players are very inneficient.

act_fourth_con_07_clubs = act_fourth_con_07.groupby('club').count()[['Slack']]
act_fourth_con_07_clubs

                  Slack
club
Ajax                  1
Atalanta              5
Atlético              6
Barcelona             4
Benfica               2
Beşiktaş              5
Chelsea               3
Club Brugge           1
Dynamo Kyiv           1
Inter                 4
LOSC                  4
Leipzig               5
Liverpool             3
Malmö                 4
Man. City             1
Man. United           4
Milan                 5
Porto                 4
Real Madrid           1
Sevilla               5
Shakhtar Donetsk      5
Sheriff               2
Sporting CP           3
Villarreal            3
Wolfsburg             2
Young Boys            2
Zenit                 3

In [489]:
# It can be seen taht Bayern, Dortmund, Juventus, PSG, and Salzburg don't have active constraints

pd.merge(act_fourth_con_07_clubs, fourth_con_07.groupby('club').count()[['Slack']], on='club', how='outer').rename(columns={'Slack_x':'Active const.','Slack_y':'Number of players'})

                  Active const.  Number of players
club
Ajax                        1.0                 12
Atalanta                    5.0                 14
Atlético                    6.0                 18
Barcelona                   4.0                 12
Benfica                     2.0                 14
Beşiktaş                    5.0                 13
Chelsea                     3.0                 17
Club Brugge                 1.0                 10
Dynamo Kyiv                 1.0                 10
Inter                       4.0                 12
LOSC                        4.0                 15
Leipzig                     5.0                 13
Liverpool                   3.0                 19
Malmö                       4.0                 13
Man. City                   1.0                 17
Man. United                 4.0                 16
Milan                       5.0                 14
Porto                       4.0                 12
Real Madrid                 1.0                 15
Sevilla                     5.0                 13
Shakhtar Donetsk            5.0                 13
Sheriff                     2.0                 11
Sporting CP                 3.0                 15
Villarreal                  3.0                 17
Wolfsburg                   2.0                 13
Young Boys                  2.0                 12
Zenit                       3.0                 13
Bayern                      NaN                 15
Dortmund                    NaN                 10
Juventus                    NaN                 15
Paris                       NaN                 14
Salzburg                    NaN                 14